# Keys
.env

# Python
__pycache__/
*.pyc
.venv/

# Docker
*.log
*.pid

# Airflow
logs/
airflow.db

# VSCode
clean-air-pipeline.code-workspace
.vscode/

# Mermaid
example.md

# Tests & debugs
test*
debug*

# Build
clean_air_pipeline.egg-info/
